// Color
$white: #fff;
$white1: #f2f2f2;
$black: #000000;
$black1: #1c1e21;
$black2: #1a1a1a;
$grey: grey;
$grey1: #8e8e8e;
$grey2: #efefef;
$background: #fafafa;
$blue1: #b3dbff;
$blue2: #47afff;
$blue3: #0095f6;
$blue4: #27c4f5;
$blue5: #6666ff;
$error: #ed4956;
$border: #dbdbdb;

// Font size
$fs1: 5px;
$fs2: 10px;
$fs3: 15px;
$fs4: 20px;
