@import "./base.scss";
@import "./globals.scss";

.container {
  position: relative;
  margin: 2em 0;
  width: 60%;
  background-color: $white;
  border-radius: 0.5rem;
  border: 1px solid $border;
  height: max-content;

  .card__header {
    width: 95%;
    margin: 1rem auto;
    @include flexCenter;
    justify-content: space-between;

    .header__info {
      @include flexCenter;
    }
    .header__nickname {
      margin-left: 0.5rem;
      font-weight: 600;
      font-size: 0.8rem;
    }
  }
  .card__image {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 1;
  }
  .card__actions {
    margin: 0.5rem auto;
    .card__actions__container {
      @include centerDiv;
      justify-content: space-between;
      margin: 1rem auto;
    }
    .card__actions__left {
      @include flexCenter;
      .actions__like {
        @include flexCenter;
        svg {
          animation: out 0.2s;
        }
        svg:hover {
          animation: in 0.1s;
        }
        @keyframes out {
          from {
            transform: scale(1);
          }
          to {
            transform: scale(1.2);
          }
        }

        @keyframes in {
          from {
            transform: scale(1);
          }
          to {
            transform: scale(1);
          }
        }
      }

      svg {
        margin-right: 0.75rem;
        &:hover {
          color: $grey1;
        }
      }
    }
    .card__actions__right {
      @include flexCenter;
      cursor: pointer;
      &:hover {
        color: $grey1;
      }
    }
  }

  .card__information {
    @include centerDivWithFlexColumn;
    .card__like,
    .card__content,
    .card__comment,
    .card__time {
      margin-bottom: 0.75rem;
    }
    .like__container {
      @include flexCenterVertical;
      span {
        cursor: pointer;
      }
    }
    .like__list {
      margin-left: 0.5rem;
    }
    .card__comment,
    .card__time {
      cursor: pointer;
      color: $grey1;
      font-size: $fs3;
    }
    .card__time {
      font-size: $fs2;
    }
    b {
      cursor: pointer;
    }
  }

  .add__comment {
    border-top: 1px solid $grey2;
    .comment__container {
      @include centerDivWithFlexRow;
      align-items: center;
      svg {
        cursor: pointer;
      }
      .post__active {
        color: $blue3;
        &:hover {
          color: $blue5;
          cursor: pointer;
        }
      }
      .post__unactive {
        color: $blue1;
      }
    }
    .emoji__container {
      position: absolute;
      bottom: 8%;
      left: 0;
      z-index: 9999;
    }
  }
}
