@import "./base.scss";

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: [sidebar-start] 20% [sidebar-end content-start] 40% [content-end about-start] 40% [about-end];
  grid-template-areas: "sidebar main-content about";
  // side-bar
  .sidebar {
    grid-area: sidebar;
    .sidebar__container {
      width: 100%;
      height: 100vh;
      background-color: $white;
      border-right: 1px solid $border;
    }
    .sidebar__content {
      height: 100%;
      display: flex;
      flex-direction: column;
      .sidebar__text {
        width: 85%;
        margin: 0 auto;
        &:hover {
          cursor: pointer;
        }
      }
      h2 {
        margin: 0;
        padding: 2rem 0;
      }
    }
    .sidebar__navigation {
      margin-top: 2rem;
      width: 90%;
      margin: 0 auto;
      flex: 1;
    }

    .sidebar__settings {
      width: 90%;
      margin: 0 auto 1rem auto;
    }
  }

  // content
  .content {
    grid-area: main-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  // about
  .about {
    grid-area: about;
  }
}



