@import "./base.scss";

.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  .login__form {
    width: 20%;
    border: 1px solid gray;
    padding: 10px 20px 50px 20px;
    input {
      width: 258px;
      height: 36px;
      padding-left: 10px;
    }

    .login__userName,
    .login__passWord {
      position: relative;
    }

    button {
      width: 275px;
      height: 30px;
      color: $white;
      font-size: $fs3;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
  }
  .floatingLabel {
    font-size: 13px;
    position: absolute;
    pointer-events: none;
    top: 12px;
    left: 12px;
    transition: 0.2s ease all;
  }

  input:focus ~ label .floatingLabel,
  input:not(:focus):valid ~ label .floatingLabel {
    top: 3px;
    left: 12px;
    font-size: 10px;
    opacity: 1;
  }

  .passwordShow {
    position: absolute;
    left: 230px;
    top: 13px;
    cursor: pointer;
    color: $black;
    font-weight: bold;
    font-size: $fs3;
  }

  .signup__form {
    width: 22%;
    padding: 10px 0px;
    margin-top: 20px;
    border: 1px solid gray;
    a {
      color: $blue3;
      text-decoration: none;
    }
  }
  .login__error {
    width: 70%;
    margin: 10px 0;
    color: $error;
    font-size: $fs2;
  }
}
