@import "./base.scss";
@import "./globals.scss";

.container {
  position: relative;
  margin: 2rem 0 0 2rem;
  background-color: $white;
  width: 60%;
  height: 7rem;
  border-radius: 0.5rem;
  border: 1px solid $border;
  @include flexCenter;
  overflow: hidden;

  .story {
    width: 100%;
    height: 70%;
    margin: auto auto;
    margin-left: 0;
    @include flexCenter;
    gap: 0.5rem;
    transition: margin-left 0.5s;
    transition-timing-function: ease;
  }

  .mgLeft {
    margin-left: 50px;
  }

  .border {
    cursor: pointer;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid;
    border-color: #eb0195 #eb0195 #eb0195 #ffbf00;
  }


}
