@use "base.scss" as baseVideo;
@use "globals.scss" as *;

.container {
  width: 100%;
  height: 100vh;
  background-color: baseVideo.$black2;
  color: white;

  .header {
    @include centerDiv;
    justify-content: space-between;
    padding-top: 1.5rem;
  }
  .videoContainer {
    @include centerDiv;
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
  }
  .video {
    position: relative;
    width: 330px;
    height: 590px;

    video {
      object-fit: fill;
      border-radius: 0.5rem;
      width: 100%;
      height: 100%;
    }
    .video__header {
      position: absolute;
      height: 40px;
      background: transparent;
      z-index: 100;
      top: 2%;
      width: 100%;
    }
    /////// ON DOING ////////////////

    @keyframes videoRunning {
      0% {
        width: 0px;
      }
      20% {
        width: 60px;
      }
      40% {
        width: 120px;
      }
      60% {
        width: 180px;
      }
      80% {
        width: 240px;
      }
      100% {
        width: 300px;
      }
    }
    .video__test {
      background-color: white;
      opacity: 0.3;
      width: 300px;
      height: 3px;
      margin-left: 10px;
    }
    .video__inner {
      position: absolute;
      width: 0px;
      height: 3px;
      background-color: white;
      opacity: 1;
      margin-left: 10px;
      top: 0;
      animation-name: videoRunning;
      animation-duration: 5s;
      animation-timing-function: linear;
    }
  }
}
