@use "globals.scss" as *;

.container {
  @include centerDiv;

  .line {
    margin-right: 0.1rem;
    border-radius: 0.1rem;
    background: #ffffff;
    opacity: 0.3;
  }
  .lineDisable {
    background: #ffffff;
    opacity: 0.3;
  }
  .lineActive {
    background-color: white;
  }
  .play {
    animation-play-state: running;
  }
  .paused {
    animation-play-state: paused;
  }

  .video__action {
    @include centerDiv;
    justify-content: flex-end;
    margin-top: 1rem;
    svg:hover {
      cursor: pointer;
    }
  }
}
