@use "base.scss" as baseVideo;
@use "globals.scss" as *;

.container {
  width: 100%;
  height: 100vh;
  background-color: baseVideo.$black2;
  color: white;

  .header {
    @include centerDiv;
    justify-content: space-between;
    padding-top: 1.5rem;
  }
  .videoContainer {
    @include centerDiv;
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
  }
  .video {
    position: relative;
    width: 330px;
    height: 590px;

    video {
      object-fit: fill;
      border-radius: 0.5rem;
      width: 100%;
      height: 100%;
    }
    .video__header {
      position: absolute;
      height: 40px;
      background: transparent;
      z-index: 100;
      top: 2%;
      width: 100%;
    }

    .video__action {
      @include centerDiv;
      justify-content: flex-end;
      margin-top: 1rem;
      svg:hover {
        cursor: pointer;
      }
    }
  }
}
